body {
    background-color: rgb(238, 238, 238);
    background-image: url(https://images4.alphacoders.com/102/1025670.jpg);
    background-repeat: none;
    background-size: cover;
}

nav {
    background-color: #325E38;
}

table {
    font-family: monospace;
    color: white;
    font-weight: bold;
    margin: 2px;
}

.edit, .create{
    background-color: #325E38;
    color: white;
}

.table.car { 
    vertical-align: middle;
    color: white;
}

.table.car > :not(:first-child) { 
    border-top: none; 
}  

.table.car thead { 
    background: rgb(238, 238, 238); 
}

.table.car .btn, .car.list .btn-success { 
    font-size: 0.8em; 
}

#title {
    font-family: monospace;
    color: white;
    text-align: center;
}


